MEETREC_VAULT_PATH=/home/user/obsidian-vault
# MEETREC_WHISPER_MODEL=large-v3-turbo
# MEETREC_LANGUAGE=en
# MEETREC_DEVICE=cuda
# MEETREC_COMPUTE_TYPE=float16
# MEETREC_MONITOR_SOURCE=auto
# MEETREC_MIC_SOURCE=auto
# MEETREC_HF_TOKEN=hf_your_token_here
# MEETREC_DIARIZE=true
# MEETREC_MAX_SPEAKERS=
